.uppercase {
  text-transform: uppercase;
}

.Cockpit button {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}
.Cockpit button:hover {
  background-color: lightgreen;
  color: black;
}

.Cockpit button.red {
  background-color: red;
  color: black;
}
.Cockpit button.red:hover {
  background-color: salmon;
  color: black;
}
